[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
mysqlclient = "*"
requests = "*"
django-admin-thumbnails = "*"
python-decouple = "*"
psycopg2-binary = "*"
django-session-timeout = "*"
django-admin-honeypot = "*"

[dev-packages]

[requires]
python_version = "3.10"
